.section-title {
  display: flex;
  justify-content: space-between;

  .line {
    flex: 1;
  }
}

.avg {
  display: flex;
  margin-bottom: 1.5em;

  .white-card {
    background-color: #f5ba45;
    color: #fff;
    padding: 2em;
  }

  .value {
    font-weight: bold;
    font-size: 2.5em;

    span {
      margin-left: 10px;
    }
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5em;

  .professional-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .value {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #fff5dd;
    color: #f5ba45;
    font-weight: bold;
    padding: 0 0.75em;
    border-radius: 18px;

    .mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }

  label {
    font-size: 0.8em;
    font-weight: bold;
    color: #909090;
  }

  p {
    font-weight: bold;
    color: #000;
  }
}
