<header class="page-header">
  <h2 class="title">Avaliações</h2>
  <div class="line">
    <mat-divider></mat-divider>
  </div>
</header>

<main class="panel-page">
  <h3 class="section-title">Média Geral</h3>
  <div *ngIf="ratingAvg" class="avg">
    <div class="white-card">
      <div class="value">
        <mat-icon>star_outline</mat-icon>
        <span>{{ ratingAvg.value | number: '1.1' }}</span>
      </div>
      <p [ngPlural]="ratingAvg.schedules">
        <ng-template ngPluralCase="=1">Em {{ ratingAvg.schedules }} Atendimento.</ng-template>
        <ng-template ngPluralCase="other">Em {{ ratingAvg.schedules }} Atendimentos.</ng-template>
      </p>
    </div>
  </div>

  <h3 class="section-title">Últimas Avaliações</h3>
  <div class="ratings">
    <div *ngFor="let rating of ratings" class="white-card">
      <div class="professional-rating">
        <div class="professional">
          <label>Profissional:</label>
          <p>{{ rating.schedule.professional.name }}</p>
        </div>
        <div class="value">
          <mat-icon>star</mat-icon>
          <span>{{ rating.value }}</span>
        </div>
      </div>
      <div class="date">
        <label>Data Atendimento:</label>
        <p>{{ rating.schedule.date | date: 'dd/MM/yyyy - HH:mm' }}h.</p>
      </div>
      <div class="comment">
        <span>{{ rating.comment }}</span>
      </div>
    </div>
  </div>
</main>