<div id="toolbar">
    <div class="welcome-user">
        <h1 class="name">Olá, {{ user.name }}.</h1>
        <p class="message">Bem-vindo(a) novamente!</p>
    </div>
    <div *ngIf="isEmployee" class="establishment-context" [matMenuTriggerFor]="establishmentMenu">
        <div *ngIf="establishmentContext">
            <h3 class="category category-id-{{ establishmentContext.category.id }}">
                {{ establishmentContext.category.name }}
            </h3>
            <h2 class="name">{{ establishmentContext.name }}</h2>
        </div>
        <button type="button" mat-icon-button disabled aria-label="Alterar Contexto">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #establishmentMenu="matMenu" xPosition="before">
            <button *ngFor="let establishment of establishments" [title]="establishment.name" mat-menu-item (click)="changeContext(establishment)">
                <mat-icon fontSet="material-icons-outlined">place</mat-icon>
                <span>{{ establishment.name }}</span>                
            </button>
        </mat-menu>
    </div>
    <div class="avatar-user">
        <button type="button" class="icon-button" [matMenuTriggerFor]="userMenu">
            <img width="60" src="assets/img/user.svg">
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon fontSet="material-icons-outlined">lock</mat-icon>
                <span>Alterar Senha</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</div>