#toolbar {
    display: flex;
    justify-content: space-between;

    .welcome-user {
        .name, 
        .message {
            margin: 0;
        }

        .name {
            font-weight: bold;
        }
    }
}