<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <img id="logo" src="assets/img/logo.svg">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon fontSet="material-icons-outlined" matListIcon>home</mat-icon>
                <p matLine>Início</p>
            </a>
            <a mat-list-item [routerLink]="['/agendamentos']" [routerLinkActive]="['active']">
                <mat-icon fontSet="material-icons-outlined" matListIcon>schedule</mat-icon>
                <p matLine>Agendamentos</p>
            </a>
            <a mat-list-item [routerLink]="['/avaliacoes']" [routerLinkActive]="['active']">
                <mat-icon fontSet="material-icons-outlined" matListIcon>star_outline</mat-icon>
                <p matLine>Avaliações</p>
            </a>
            <a mat-list-item [routerLink]="['/estabelecimentos']" [routerLinkActive]="['active']">
                <mat-icon fontSet="material-icons-outlined" matListIcon>place</mat-icon>
                <p matLine>Estabelecimentos</p>
            </a>
            <a *ngIf="userIsAdmin" mat-list-item [routerLink]="['/importar-dados']" [routerLinkActive]="['active']">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <p matLine>Importar Dados</p>
            </a>
            <a *ngIf="userIsAdmin" mat-list-item [routerLink]="['/usuarios']" [routerLinkActive]="['active']">
                <mat-icon fontSet="material-icons-outlined" matListIcon>people</mat-icon>
                <p matLine>Usuários</p>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="content">
            <toolbar></toolbar>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>