.mat-drawer-container {
  height: 100%;
  background-color: rgba($color: #ebeff5, $alpha: 0.5);
  color: #363b56;

  .mat-sidenav {
    padding-left: 1em;
    border: none;

    #logo {
      width: 125px;
      padding: 2em 0 2em 1em;
    }

    ::ng-deep {
      .mat-list-base,
      .mat-nav-list {
        .mat-list-item {
          border-radius: 10px 0 0 10px;
          color: #363b56;

          &.active {
            color: #418DE4;
            background-color: rgba($color: #ebeff5, $alpha: 0.5);
          }
        }

        .mat-list-item-content {
          padding-right: 2em !important;
        }
      }
    }
  }

  .mat-sidenav-content .content {
    padding: 2em;
  }
}
