<form [formGroup]="form" class="login-box white-card" (ngSubmit)="resetPassword()">
    <h1>Recuperar Senha</h1>
    <p>para recuperar sua senha,<br />informe seu e-mail.</p>
    <mat-form-field appearance="standard">
        <mat-label>E-mail</mat-label>
        <input type="email" class="input" matInput placeholder="E-mail" formControlName="email">
        <mat-icon fontSet="material-icons-outlined" matPrefix>email</mat-icon>
        <mat-error *ngIf="form.get('email')?.invalid">
            Informe um e-mail válido.
        </mat-error>
    </mat-form-field>
    <div class="button">
        <button type="submit" mat-flat-button color="primary" class="button-primary">Recuperar</button>
    </div>
    <div class="button">
        <button type="button" mat-button (click)="returnToLogin()">Voltar para o login</button>
    </div>     
</form>