.file-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;

  .file-box {
    display: flex;
    flex-direction: column;

    .file-name {
      font-weight: bold;
    }

    .label {
      font-weight: bold;
      color: #7e829a;
    }

    .input-file-group {
      display: flex;
      align-items: center;
      gap: 1em;
      border-bottom: 1px solid #7e829a;
      padding-bottom: 0.5em;
      margin-bottom: 1.5em;

      .mat-icon {
        color: #7e829a;
      }

      .input-file {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
