<main>
    <div class="page-header">
        <h2 class="title">Importar Dados</h2>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>

    <section class="file-boxes">
        <div class="file-box white-card">
            <h3 class="file-name">Estabelecimentos</h3>
            <div class="input-file-group">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <div class="input-file">
                    <mat-label class="label">Selecionar arquivo</mat-label>
                    <input type="file">
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary" class="button-primary">Enviar</button>
            </div>
        </div>
        <div class="file-box white-card">
            <h3 class="file-name">Profissionais</h3>
            <div class="input-file-group">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <div class="input-file">
                    <mat-label class="label">Selecionar arquivo</mat-label>
                    <input type="file">
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary" class="button-primary">Enviar</button>
            </div>
        </div>
        <div class="file-box white-card">
            <h3 class="file-name">Horários de Atendimento</h3>
            <div class="input-file-group">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <div class="input-file">
                    <mat-label class="label">Selecionar arquivo</mat-label>
                    <input type="file">
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary" class="button-primary">Enviar</button>
            </div>
        </div>
        <div class="file-box white-card">
            <h3 class="file-name">Relação Estabelecimentos/Profissionais</h3>
            <div class="input-file-group">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <div class="input-file">
                    <mat-label class="label">Selecionar arquivo</mat-label>
                    <input type="file">
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary" class="button-primary">Enviar</button>
            </div>
        </div>
        <div class="file-box white-card">
            <h3 class="file-name">Relação Estabelecimentos/Horários</h3>
            <div class="input-file-group">
                <mat-icon fontSet="material-icons-outlined" matListIcon>file_upload</mat-icon>
                <div class="input-file">
                    <mat-label class="label">Selecionar arquivo</mat-label>
                    <input type="file">
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary" class="button-primary">Enviar</button>
            </div>
        </div>
    </section>
</main>